footer {
    background-color: #f7f7f7;
    .container{
        .row{
            padding-top: 30px;
            &.first{
                ul{
                    list-style: none;
                    h6{
                        text-transform: uppercase;
                        font-weight: bold;
                        padding-bottom: 15px;
                    }
                    li{
                        padding-bottom: 15px;
                        a{
                            color: black;
                            &:hover {
                                color: lightslategray;
                            }
                        }
                    }
                }
            }
        }
        .row {
            &.second{
                border-top: 1px solid lightslategray;
                padding-top: 20px;
               .box {
                   &.left {
                       ul{
                           list-style: none;
                           li {
                               padding-right: 5px;
                               display: inline-block;
                               a {
                                   color: black;
                                   &:hover {
                                       color: lightslategray;
                                   }
                               }
                           }
                       }
                   }
                   &.center,
                   &.right {
                       ul{
                           list-style: none;
                           li {
                               padding-left: 20px;
                               display: inline-block;
                               a {
                                   color: black;
                                   &:hover {
                                       color: lightslategray;
                                   }
                               }
                           }
                       }
                   }
               }
           }
        }
    }
}

//Cambiare il box left da orizzontale a verticale.
@media screen and (max-width: 767px) {
    // footer{
    //     .container{
    //         .row{
    //             .box{
    //                 &.left{
    //                     ul{
    //                         li{
    //                             display: block;
    //                         }
    //                     }

    //                 }
    //             }
    //         }
    //     }
    // }
}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 1200px){

}
