// header

header {

  nav {
    background: #010101;

    a {
      img {
        height: 32px;
      }
    }

  }

}

@media screen and (max-width: 992px) {

  .dropdown-menu.show {
    background-color: #000000;
    padding-top: 0;
    margin-top: 0;

    .dropdown-item {
      color: #717171;
    }

    .dropdown-item:hover {
      color: #010101;
    }

  }
}
