// sezione home Emanuele
#home{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .jumbo{
        background-color: black;
        img{
            width: 95%;
        }
    }
    .explore{
        img{
            height: 80px;
            border-radius: 10px;
        }
        h5, p, [class*='col-']{
            margin: 0;
            padding: 0;
        }
    }
    .types{
        h5, p, [class*='col-']{
            margin: 0;
            padding: 0;
        }
        img{
            height: 250px;
            border-radius: 10px;
        }
        .scroll{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 20px;
            &.dx{
                top: 50%;
                transform: translateY(-50%);
            }
            &.sx{
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    // 1) Max-width 576px
    // 2) Da min-width 577px a max-width 767px

    @media screen and (min-width: 577px) and (max-width: 767px){
        .jumbo{
            background-color: black;
            img{
                width: 100%;
            }
            h2{
                font-size: 1.7em;
            }
        }
        section.explore{
            h2{
                font-size: 1.7em;
            }
        }
    }

    @media screen and (max-width: 577px){

        .boxes{
            width: 300px;
        }
    }
}

// sezione login Federico
#login{

}


// sezione dashboard Simone
#dashboard{

}

// sezione create-edit Giorgio
#create-edit{

}

// sezione show Alessandro
#show{

}

// sezione statistics
#statistics{

}

// sezione sponsor
#sponsor{

}

// sezione advanced-search
#advanced-search{

}
