* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home {
    position: relative;

    section.jumbo {
        background-color: black;
        img {
            width: 95%;
        }
    }

    section.explore {
        img {
            height: 80px;
            border-radius: 10px;
        }
        h5,
        p,
        [class*="col-"] {
            margin: 0;
            padding: 0;
        }
    }

    section.types {
        height: 350px;
        h5,
        p,
        [class*="col-"] {
            margin: 0;
            padding: 0;
        }
        img {
            height: 250px;
            border-radius: 10px;
        }
        .scroll {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding: 20px;
            z-index: 1;
            &.dx {
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
            &.sx {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        .carousel {
            display: flex;
            justify-content: center;
        }
        .secondo,
        .terzo {
            display: none;
        }
        .btn {
            height: 30px;
            position: relative;
            margin-top: 115px;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    section.behost {
        // height: 400px;
        h2,
        p {
            padding: 0;
            margin: 10px 0;
        }
        .image_behost {
            position: relative;
            background-image: url("https://a0.muscache.com/im/pictures/c21183f0-b591-4a3c-8342-87c88cc9445f.jpg?im_w=1680");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 400px;
            border-radius: 10px;
        }
        .description {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);
        }
    }

    section.experience {
        height: 400px;
        h5,
        p,
        [class*="col-"] {
            margin: 0;
            padding: 0;
        }
        img {
            height: 250px;
            border-radius: 10px;
        }
    }

    // 1) Max-width 576px
    // 2) Da min-width 577px a max-width 767px

    @media screen and (min-width: 577px) and (max-width: 767px) {
        .jumbo {
            background-color: black;
            img {
                width: 100%;
            }
            h2 {
                font-size: 1.7em;
            }
        }
        section.explore {
            h2 {
                font-size: 1.7em;
            }
        }
        section.types {
            .secondo {
                display: flex;
            }
            .primo,
            .terzo {
                display: none;
            }
        }
        section.behost {
            height: 280px;
            .image_behost {
                height: 280px;
            }
        }
    }

    @media screen and (max-width: 577px) {
        .boxes {
            width: 300px;
        }
        section.types {
            .terzo {
                display: flex;
            }
            .primo,
            .secondo {
                display: none;
            }
        }
        section.behost {
            .image_behost {
                height: 195px;
                .description {
                    top: 40%;
                }
            }
        }
    }
}

// sezione login Federico
#login {
    .container {
        .row {
            .card {
                .card-header {
                    background-color: white;
                    font-size: 18px;
                }
                .card-body {
                    form {
                        font-size: 16px;
                        .form-group {
                            input:focus,
                            input:active {
                                outline: none;
                                box-shadow: none;
                                border-color: inherit;
                                -webkit-box-shadow: none;
                                color: #717171;
                            }
                            a {
                                text-decoration: underline;
                                color: #717171;
                                font-size: 16px;
                                &:hover {
                                    color: black;
                                }
                            }
                            button {
                                font-size: 18px;
                                width: 100%;
                                color: white;
                                background: #ff5a5f;
                                margin-bottom: 20px;
                                &:hover {
                                    opacity: 0.9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//sezione pagina email Federico
#login-email {
    .container {
        .row {
            .card {
                .card-header {
                    background-color: white;
                    font-size: 18px;
                }
                .card-body {
                    form {
                        .form-group {
                            input:focus,
                            input:active {
                                outline: none;
                                box-shadow: none;
                                border-color: inherit;
                                -webkit-box-shadow: none;
                            }
                            .text {
                                font-size: 15px;
                                padding-bottom: 10px;
                                color: #717171;
                            }
                            a {
                                text-decoration: underline;
                                color: #717171;
                                font-size: 16px;
                                &:hover {
                                    color: black;
                                }
                            }
                            button {
                                font-size: 18px;
                                width: 100%;
                                background-color: rgb(34, 34, 34);
                                color: white;
                                margin-top: 30px;
                                &:hover {
                                    background-color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//sezione pagina register Federico
#login-register {
    .container {
        .row {
            .card {
                .card-header {
                    background-color: white;
                    font-size: 18px;
                }
                .card-body {
                    form {
                        font-size: 16px;
                        .form-group {
                            input:focus,
                            input:active {
                                outline: none;
                                box-shadow: none;
                                border-color: inherit;
                                -webkit-box-shadow: none;
                                color: #717171;
                            }
                            label {
                                color: #717171;
                            }
                            .text {
                                font-size: 12px;
                                color: #717171;
                            }
                            button {
                                font-size: 18px;
                                width: 100%;
                                color: white;
                                background: #ff5a5f;
                                &:hover {
                                    opacity: 0.9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//sezione Index
#apa-index {
    i{
        display: none;
    }
    .p_top {
        padding-top: 10px;
    }
    .row {
        .table {
            thead {
                border-top: none;
                tr {
                    border-top: none;
                    th {
                        border-top: none;
                        width: calc(100% / 6);
                    }
                }
            }
            a {
                margin-bottom: 5px;
            }
            .mex{
                text-align: center;
                input[type="submit"] {
                    font-family: "Font Awesome 5 Free";
                    font-size: 1em;
                }
            }
            .del {
                text-align: center;
                input[type="submit"] {
                    font-family: "Font Awesome 5 Free";
                    font-size: 1em;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    #apa-index {
        .add{
            display: none;
        }
        i{
            display: inline-block;
        }
        #aggiungi {
            a {
                margin-bottom: 5px;
            }
        }
    }
}

#ad {
    img {
        width: 50px;
    }
}

// sezione create Giorgio
#create {
    .container {
        .card {
            .card-header {
                background-color: white;
            }
            .card-body {
                .form-group {
                    label {
                        font-size: 16px;
                    }
                    input:focus,
                    input:active {
                        outline: none;
                        box-shadow: none;
                        border-color: inherit;
                        -webkit-box-shadow: none;
                    }
                    input[type="file"] {
                        margin: 10px 0;
                    }
                    input[type="number"] {
                        display: none;
                    }
                    .counter {
                        .counter-title {
                            width: 60px;
                        }
                        .counter-number {
                            width: 100px;
                            a {
                                i {
                                    color: #ff5a5f;
                                }
                            }
                        }
                    }
                }
                button {
                    width: 100%;
                    color: white;
                    background: #ff5a5f;
                }
                button:focus {
                    outline: none;
                    box-shadow: none;
                    border-color: inherit;
                    -webkit-box-shadow: none;
                }
            }
        }
    }
}
// sezione edit Giorigio
#edit {
    .container {
        .card {
            .card-header {
                background-color: white;
            }
            .card-body {
                .form-group {
                    label {
                        font-size: 16px;
                    }
                    input:focus,
                    input:active {
                        outline: none;
                        box-shadow: none;
                        border-color: inherit;
                        -webkit-box-shadow: none;
                    }
                    input[type="file"] {
                        margin: 10px 0;
                    }
                    input[type="number"] {
                        display: none;
                    }
                    .counter {
                        .counter-title {
                            width: 60px;
                        }
                        .counter-number {
                            width: 100px;
                            .hidden {
                                display: none;
                            }
                            a {
                                i {
                                    color: #ff5a5f;
                                }
                            }
                        }
                    }
                }
                button {
                    width: 100%;
                    color: white;
                    background: #ff5a5f;
                }
                button:focus {
                    outline: none;
                    box-shadow: none;
                    border-color: inherit;
                    -webkit-box-shadow: none;
                }
            }
        }
    }
}
// sezione show Alessandro
#show {
    $image_height: 530px;
    font-size: 18px;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
    }

    img {
        height: 100%;
        width: 100%;
    }

    // title-section
    .title-section {
        margin-top: 30px;
        margin-bottom: 15px;

        p {
            color: #717171;
            text-decoration: underline;
        }

        a {
          margin: 0 10px 0 20px;
          padding: 3px 8px;
          font-size: 18px;
          background-color: #ff5a5f;
          color: white;
        }

    }

    // image-section
    .image-section {
        height: $image_height;
        margin-bottom: 30px;

        .image_box_left {
            height: $image_height;

            img {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
        }

        .image_box_right {
            height: $image_height;

            & > div:first-child {
                margin-bottom: 10px;

                .image_div:last-child > img {
                    border-top-right-radius: 15px;
                }
            }

            & > div:last-child {
                .image_div:last-child > img {
                    border-bottom-right-radius: 15px;
                }
            }

            .image_div {
                height: calc(#{$image_height} / 2 - 5px);
                margin-left: 10px;
            }
        }
    }

    // info-section
    .info-section {
        padding-top: 60px;
        padding-bottom: 60px;
        border-top: 1px solid lightgrey;

        .user_box {
            .user_card {
                max-width: 500px;
                margin: 0 30px;
                padding: 20px 30px;
                border-radius: 10px;

                .user_name {
                    i {
                        margin-right: 5px;
                    }

                    .house_i {
                        margin-right: 10px;
                    }

                    .under_name {
                        color: #717171;
                        font-size: 13px;
                        line-height: 14px;
                    }
                }

                .card_text {
                    padding: 10px 0px 20px;
                    font-size: 16px;
                    line-height: 20px;
                }

                .btn_user {
                    width: 100%;
                    padding: 5px 10px;
                    background-color: #ff5a5f;
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }

        .info_box {
            h3 {
                margin-bottom: 10px;
            }

            .icon {
                width: 20px;
                margin-right: 10px;
            }

            .services {
                width: 150px;
            }

            .info {
                width: 120px;
            }

            .text {
                margin-right: 10px;
            }
        }
    }

    // map-section
    .map-section {
      padding-top: 30px;
      padding-bottom: 60px;
      border-top: 1px solid lightgrey;

      h2 {
        margin-bottom: 30px;

      }

      .map {
        height: 600px;
        width: 90%;
      }

    }

    // mail-section
    .mail-section {
      padding-top: 30px;
      padding-bottom: 60px;
      border-top: 1px solid lightgrey;

      h2 {
        margin-bottom: 30px;

        span {
          text-transform: capitalize;
        }
      }


      .mail_card {
        padding: 20px 30px;
      }

      textarea {
        resize: none;
      }

      .btn_mail {
          width: 100px;
          padding: 5px 10px;
          background-color: #ff5a5f;
          color: white;
          text-transform: uppercase;
          font-weight: bold;
      }

    }

    @media screen and (max-width: 991px) {
        // image-section
        .image_box_right > div:first-child {
            .image_div:first-child > img {
                border-top-right-radius: 15px;
            }
        }

        .image_box_right > div:last-child {
            .image_div:first-child > img {
                border-bottom-right-radius: 15px;
            }
        }

        // info-section
        .user_box {
            padding-bottom: 60px;
        }

        .info_box {
            padding-top: 60px;
            border-top: 1px solid lightgrey;
        }
    }

    @media screen and (max-width: 767px) {
        .image_box_left img {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    @media screen and (max-width: 575px) {
        // info-section
        .services_box {
            padding-bottom: 60px;
        }

        .info_room_box {
            padding-top: 60px;
            border-top: 1px solid lightgrey;
        }
    }

    @media screen and (max-width: 400px) {
        //image-section
        .image-section {
            height: calc(#{$image_height} / 4 * 3);

            .image_box_left {
                height: calc(#{$image_height} / 4 * 3);
            }
        }
    }
}

// messaggio inviato, check pagamento: Alessandro
#send, #check, #sponsor{

  .result {
    padding: 60px 0;

    .message-img, .check-img {
      height: 200px;
      width: 200px;
      margin: 30px 0;

      img {
        width: 100%;
        height: 100%;
      }

    }

  }

}

// sezione statistics
#statistics {
}

// sezione sponsor Emanuele
#sponsor {
    #payment-form{
       #paga{
            background-color: green;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: white;
            margin-bottom: 12px;
        }
    }
    .container{
        #payment-form{
            h3{
                text-align: center;
                margin-top: 30px;
            }
            p{
                margin: 10px 0 30px 0;
                text-align: center;
                font-size: 1.2em;
            }
        }

        .layout-cards{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 30px 0;
        }
        .card{
            border-radius: 10px;
            border-color: transparent;
        }
        .center-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #8eb9cb;
            border-radius: 10px;
            box-shadow: 0px 2px 10px;
            &:hover{
                cursor: pointer;
            }
        }
        .gold{
            border: 1px solid #88888a;
            border-radius: 10px;
            box-shadow: 0px 2px 40px rgb(255, 211, 14);
            cursor: pointer;
        }
        .silver{
            border: 1px solid #88888a;
            border-radius: 10px;
            box-shadow: 0px 2px 40px #88888a;
            cursor: pointer;
        }
        .bronze{
            border: 1px solid #88888a;
            border-radius: 10px;
            box-shadow: 0px 2px 40px rgb(211, 141, 50);
            cursor: pointer;
        }
    }
}

// sezione advanced-search
#advanced-search {
    * {
        box-sizing: border-box;
    }
    // fede-gio
    .card{
      .card-header{
        background-color: white;
      }
      .card-body{
        position: relative;
        padding-bottom: 40px;
        h2{
          font-size: 20px;
          margin-top: 10px;
        }
        h3{
          font-size: 16px;
          margin-top: 10px;
        }
        input:focus,
        input:active {
            outline: none;
            box-shadow: none;
            border-color: inherit;
            -webkit-box-shadow: none;
        }
        input[type="number"] {
            display: none;
        }
        .counter {
            .counter-title {
                width: 60px;
            }
            .counter-number {
                width: 100px;
                a {
                    i {
                        color: #ff5a5f;
                    }
                }
            }
        }

      }
      a.btn {
          width: 90%;
          color: white;
          background: #ff5a5f;
          position: absolute;
          left: 50%;
          bottom: 10px;
          transform: translateX(-50%);
      }
      a.btn:focus {
          outline: none;
          box-shadow: none;
          border-color: inherit;
          -webkit-box-shadow: none;
      }
    }

    .search {
        position: relative;

        .autocomplete {
            display: none;
        }

        .autocomplete.active {
            padding: 0;
            width: calc(100% - 70px);
            position: absolute;
            top: 58px;
            left: 35px;
            background-color: white;
            color: black;
            border: 1px solid lightgrey;
            display: flex;
            flex-direction: column;
            z-index: 1;

            div {
                width: 100%;
                span{
                  padding: 0 10px;
                }
                &:hover {
                  color: white;
                  background-color: #ff5a5f;
                }
            }
        }
    }
}

// mediaquery create-edit
@media (max-width: 768px) {
    #create,
    #edit {
        background-image: none;
    }
}
